### Numpy , Listas , Tuplas , etc..
        Adrian Aaron Cedillo Huerta

In [1]:
import numpy as np

# LISTAS

#### Una lista es una colección ordenada de valores. Una lista puede contener cualquier cosa

In [2]:
l = [2, 3, 4, 5]
print("List: ", l)

List:  [2, 3, 4, 5]

#### Usar el comando list sobre la variable para iterar sobre ella

In [3]:
print(list("hola"))
print(list(range(10)))

['h', 'o', 'l', 'a']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Operaciones sobre listas
    comando "len()" entrega la longitud de una lista
    comando "l[i]" entrega el valor "i" de la lista

In [4]:
numeros = [4, 5, 6, 7]
print("Longitud Lista:", len(numeros))
print("Valor [i] de la lista:", numeros[3])

Longitud Lista: 4
Valor [i] de la lista: 7

##### Modificar el valor [i] de una lista

In [5]:
numeros[1] = 14
print("lista con valor [i] modificado:", numeros)

lista con valor [i] modificado: [4, 14, 6, 7]

##### Si el indice es negativo, los elementos se cuentan del final hacia atras

In [6]:
print("Con indice negativo: ", numeros[-1])

Con indice negativo:  7

##### l.append(x) agrega el elemento "x" al final de una lista
        siendo "l" el nombre de la lista

In [7]:
numeros.append(15)
print(numeros)

[4, 14, 6, 7, 15]

##### sum(l) entrega la suma de los valores de la lista

In [8]:
sum(numeros)

46

#### Concatenar listas

In [9]:
personas = ["aaron", "luis", "isaac"]
print(personas + numeros)

['aaron', 'luis', 'isaac', 4, 14, 6, 7, 15]

#### Crear una lista con "range"

In [10]:
numbers = list(range(1, 21, 1))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

#### Saber si un valor esta dentro de la lista

In [11]:
15 in numbers

True

In [12]:
23 in numbers

False

#### l [i:j] es el operador de rebanado, que entrega una nueva lista que tiene desde el i-esimo elemento hasta el j-esimo elemento de la lista "l"

In [13]:
print("Del elemento 1 hasta el 6:", numbers[1:7])
print()
print("Del elemento 4 hasta el 18:", numbers[4:19])

Del elemento 1 hasta el 6: [2, 3, 4, 5, 6, 7]

Del elemento 4 hasta el 18: [5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

#### l.count(x) 
    cuántas veces existe el elemento "x" en la lista "l"

In [14]:
palabra = list('carro carro')
palabra.count('r')

4

#### l.index(x)
        Entrega el indice del elemento 'x' de la lista 'l'

In [36]:
colores = ['Azul', 'Verde', 'Amarillo', 'Rosa']
colores.index('Amarillo')

2

#### l.remove(x)
        Elimina el elemento 'x' de la lista 'l'

In [37]:
colores.remove('Azul')
colores

['Verde', 'Amarillo', 'Rosa']

#### l.reverse() 
        Invierte la lista 'l'

In [38]:
colores.reverse()
colores

['Rosa', 'Amarillo', 'Verde']

#### l.sort()
        Ordena la lista 'l'

In [44]:
Digitos = [5, 6, 2, 9, 0, 1]
Digitos.sort()

Letras = ['B', 'D', 'A', 'F']
Letras.sort()

print(Digitos)
Letras

[0, 1, 2, 5, 6, 9]

['A', 'B', 'D', 'F']

#### Una lista es iterable

In [46]:
Num = [1, 4, 5, 6, 7]
for i in Num:
    print(i)

1
4
5
6
7

# TUPLAS

#### Una tupla es una secuancia de valores agrupados
    Una tupla sirve para agrupar, como si fuera un único valor, varios valores que, por su naturaleza deben ir juntos
    El tipo de datos que representa a las tuplas se llama tuple. El tipo tuple es inmutable: Una tupla no puede ser
    modificada una vez que ha sido creada. Una tupla puede ser creada poniendo los valores separados por comas, entre 
    parentesis.

In [5]:
Persona = ('Adrian', 'Cedillo')
Persona

('Adrian', 'Cedillo')

#### Desempaquetando Tuplas
       los valores individuales de una tupla pueden ser recuperados asignando la tupla a las variables respectivas.

In [8]:
nombre, apellido = Persona
apellido

'Cedillo'

#### Es posible acceder a los elementos de una tupla con su indice, igual que en las listas

In [12]:
Persona[0]

'Adrian'

#### A diferencia de las listas, en una tupla no se pueden modificar sus elementos.

In [1]:
Persona[0] = 'Aaron'

NameError: name 'Persona' is not defined

#### Una tabla de datos generalmente se representa como una lista de tuplas.

In [3]:
alumnos = [
    ('Perico', 'Los Fulanos', '980989', 'Civil'),
    ('Fulano', 'Equis', '92830', 'Informatica'),
    ('Alguien', 'Asies', '82830', 'Ciencias'),
]

#### Se pueden desempaquetar los valores recorriendo esto con un ciclo for

In [5]:
for nombre, apellido, numero, carrera in alumnos:
    print (nombre, 'estudia', carrera)

Perico estudia Civil
Fulano estudia Informatica
Alguien estudia Ciencias

#### Cuando un valor no interesa o no es usado se utiliza '_'

In [6]:
for nombre, _, _, carrera in alumnos:
    print(nombre, 'estudia', carrera)

Perico estudia Civil
Fulano estudia Informatica
Alguien estudia Ciencias

#### Convertir una lista en tupla y una tupla en lista

In [14]:
a = (5, 6, 7)
b = [8, 4, 5]
print(list(a))
print()
print(tuple(b))

[5, 6, 7]

(8, 4, 5)